:root {
  --primary-text-color: #434455;
  --tittle-color: #2e2f42;
  --decor-color: #404bbf;
  --main-color: #4d5ae5;
}
.site-nav .logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-link span {
  color: #2e2f42;
}
/* background{color: #F4F4FD} */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Header */
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--decor-color);
}

.nav .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
  text-decoration: none;
}
.nav {
  list-style: none;
}
.feedback .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.feedback .link:hover,
.feedback .link:focus {
  color: var(--decor-color);
}
/* Main */

/* Hero */
.hero {
  background-color: #2e2f42;
}
.hero-tittle {
  color: #ffffff;
}
.pointer {
  cursor: pointer;
}

/* Skills */
.skills-tittle {
  color: var(--tittle-color);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* Examples */
.examples-tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--tittle-color);
}
/* Team */
.team {
  background-color: #f4f4fd;
}
.team-list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--tittle-color);
}

/* Footer */
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #e7e9fc;
}
.footer .logo 
 


/* -------------------Portfolio------------------------------------- */

.portfolio-buttons .item {
  cursor: pointer;
  color: var(--decor-color);
}

.portfolio-list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--tittle-color);
}
