:root {
  --primary-text-color: #434455;
  --tittle-color: #2e2f42;
  --decor-color: #404bbf;
  --main-color: #4d5ae5;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
/* background{color: #F4F4FD} */

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Header */
.nav .link:hover,
.nav .link:focus {
  color: #404bbf;
}

.nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.nav {
  list-style: none;
}
.feedback {
  font-style: normal;
}
.feedback-item .link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}
.feedback-item {
  list-style: none;
}
.feedback .link:hover,
.feedback .link:focus {
  color: #404bbf;
}
/* Main */

/* Hero */
.hero {
  background-color: #2e2f42;
}
.hero-tittle {
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1.07;
}
.pointer {
  cursor: pointer;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* Skills */

.skills-main-tittle {
  visibility: hidden;
}
.secondary-tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.07;
}

/* Examples */
.examples-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  line-height: 1.07;
}
/* Team */
.team {
  background-color: #f4f4fd;
}
.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.name {
  font-size: 16px;
}
.team-item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Footer */
.footer-section {
  background-color: #2e2f42;
}
.footer-section p {
  color: #e7e9fc;
}
.footer-section .logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.footer-section .logo span {
  color: #f4f4fd;
}
/* -------------------Portfolio------------------------------------- */
.portfolio-tittle {
  visibility: hidden;
}
.portfolio-buttons .item {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #4d5ae5;
}
.works {
  text-decoration: none;
  list-style: none;
}
